<div fxLayout="column">
  <div fxFlex="100%" class="bot-margin">
    <mat-card>
      <mat-card-content>
        <section layout="row">
          <button mat-raised-button class="v-align-middle" routerLink="/" color="primary">Home</button>
          <mat-icon class="v-align-middle">keyboard_arrow_right</mat-icon>
          <span class="v-align-middle">Users</span>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="row">
    <div fxFlex="auto">
    </div>
    <div fxFlex="auto">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ createOrUpdateText() }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form class="example-form" *ngIf="!loadingForm">
            <table cellspacing="0" [formGroup]="userForm">
              <tr>
                <td>
                  <mat-form-field>
                    <input matInput placeholder="Full Name" formControlName="fullname" name="fullname" required>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email" name="email" required>
                    <mat-error *ngIf="email.invalid && email.errors.email">Invalid email address</mat-error>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field>
                    <input matInput placeholder="Password" formControlName="password" type="password" name="password">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field>
                    <input matInput placeholder="Reapet Password" formControlName="repeatPassword" type="password" name="repeatPassword">
                    <mat-error *ngIf="repeatPassword.invalid && repeatPassword.errors.passwordMatch">Password mismatch</mat-error>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <label for="role" class="right-margin">Role</label>
                  <mat-radio-group formControlName="role" name="role">
                    <mat-radio-button color="primary" class="right-margin" value="admin">Admin</mat-radio-button>
                    <mat-radio-button color="primary" class="right-margin" value="employee">Employee</mat-radio-button>
                    <mat-radio-button color="primary" class="right-margin" value="customer">Customer</mat-radio-button>
                  </mat-radio-group>
                </td>
              </tr>
            </table>
          </form>
          <div *ngIf="loadingForm" class="center-card">
            <mat-progress-spinner *ngIf="loadingForm" [mode]="'indeterminate'"></mat-progress-spinner>
          </div>
        </mat-card-content>
        <mat-card-actions align="center">
          <button mat-raised-button (click)="createOrUpdateUser()" color="primary">{{ createOrUpdateText() }}</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="auto">
    </div>
  </div>
  <div fxFlex="row">
    <div fxFlex>
      <div *ngIf="!loadingTable">
        <div class="mat-elevation-z8 user-table-filter">
          <mat-form-field class="most-width">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Users">
          </mat-form-field>
        </div>

        <mat-card *ngIf="!dataSource?.filteredData.length">
          <div><span>Zero Users match the filter</span></div>
        </mat-card>
      </div>

      <mat-card *ngIf="dataSource?.filteredData.length || loadingTable" class="user-table">
        <mat-table #table [dataSource]="dataSource" matSort>
          <ng-container *ngFor="let col of columnDefs" [matColumnDef]="col.name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ col.title }}</mat-header-cell>
            <mat-cell class="table-cell" *matCellDef="let row">
              {{ getProperty(row, col.name) }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="updateButtonColumn">
            <mat-header-cell *matHeaderCellDef>Update</mat-header-cell>
            <mat-cell class="table-cell" *matCellDef="let row">
              <button mat-raised-button (click)="goToDetails(row)" color="primary"><mat-icon>edit</mat-icon></button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="deleteButtonColumn">
            <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
            <mat-cell class="table-cell" *matCellDef="let row">
              <button mat-raised-button (click)="deleteUser(row)" color="primary"><mat-icon>delete</mat-icon></button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-card *ngIf="loadingTable" class="center-card">
          <mat-progress-spinner
            color="primary"
            mode="indeterminate">
          </mat-progress-spinner>
        </mat-card>

        <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
      </mat-card>
    </div>
  </div>
</div>
