<mat-card class="example-card">
  <mat-card-content>
    <button mat-raised-button routerLink="/job/list" color="primary">Back to Job List</button>
  </mat-card-content>
</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Update Job</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form *ngIf="!loadingForm">
      <table [formGroup]="jobForm">
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Job Number" formControlName="jobNumber" name="jobNumber" required readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="First Name" formControlName="ownerFirstName" name="ownerFirstName" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput placeholder="Last Name" formControlName="ownerLastName" name="ownerLastName" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Phone Number" formControlName="ownerPhoneNumber" name="ownerPhoneNumber" required>
              <mat-error *ngIf="ownerPhoneNumber.invalid && ownerPhoneNumber.errors.pattern">Invalid phone number</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="ownerEmail" name="ownerEmail" required>
              <mat-error *ngIf="ownerEmail.invalid && ownerEmail.errors.email">Invalid email address</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Street Address" formControlName="ownerStreetAddress" name="ownerStreetAddress" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="City" formControlName="ownerCity" name="ownerCity" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput placeholder="State" formControlName="ownerState" name="ownerState" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput placeholder="Zipcode" formControlName="ownerZipcode" name="ownerZipcode" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
    <div *ngIf="loadingForm" class="center-card">
      <mat-progress-spinner *ngIf="loadingForm" [mode]="'indeterminate'"></mat-progress-spinner>
    </div>
  </mat-card-content>
  <mat-card-actions align="center">
    <button mat-raised-button (click)="updateJob()" color="primary">Update Job</button>
  </mat-card-actions>
</mat-card>
