<div fxLayout="column">
  <div fxFlex="100%" class="bot-margin">
    <mat-card>
      <mat-card-content>
        <section layout="row">
          <button mat-raised-button class="v-align-middle" routerLink="/" color="primary">Home</button>
          <mat-icon class="v-align-middle">keyboard_arrow_right</mat-icon>
          <span class="v-align-middle">Jobs</span>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="row">
    <div fxFlex="auto">
    </div>
    <div fxFlex="auto">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Add New Job</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form *ngIf="!loadingForm">
            <table [formGroup]="jobForm">
              <tr>
                <td>
                  <mat-form-field>
                    <input matInput placeholder="Job Number" formControlName="jobNumber" name="jobNumber" required>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field>
                    <input matInput placeholder="First Name" formControlName="ownerFirstName" name="ownerFirstName" required>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput placeholder="Last Name" formControlName="ownerLastName" name="ownerLastName" required>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field>
                    <input matInput placeholder="Phone Number" formControlName="ownerPhoneNumber" name="ownerPhoneNumber" required>
                    <mat-error *ngIf="ownerPhoneNumber.invalid && ownerPhoneNumber.errors.pattern">Invalid phone number</mat-error>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput placeholder="Email" formControlName="ownerEmail" name="ownerEmail" required>
                    <mat-error *ngIf="ownerEmail.invalid && ownerEmail.errors.email">Invalid email address</mat-error>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field>
                    <input matInput placeholder="Street Address" formControlName="ownerStreetAddress" name="ownerStreetAddress" required>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field>
                    <input matInput placeholder="City" formControlName="ownerCity" name="ownerCity" required>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput placeholder="State" formControlName="ownerState" name="ownerState" required>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput placeholder="Zipcode" formControlName="ownerZipcode" name="ownerZipcode" required>
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </form>
          <div *ngIf="loadingForm" class="center-card">
            <mat-progress-spinner *ngIf="loadingForm" [mode]="'indeterminate'"></mat-progress-spinner>
          </div>
        </mat-card-content>
        <mat-card-actions align="center">
          <button mat-raised-button (click)="createJob()" color="primary">Create Job</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="auto">
    </div>
  </div>
  <div fxFlex="row">
    <div fxFlex>
      <div *ngIf="!loadingTable">
        <div class="mat-elevation-z8 job-table-filter">
          <mat-form-field class="most-width">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Jobs">
          </mat-form-field>
        </div>

        <mat-card *ngIf="!dataSource?.filteredData.length">
          <div><span>Zero Jobs match the filter</span></div>
        </mat-card>
      </div>

      <mat-card *ngIf="dataSource?.filteredData.length || loadingTable" class="job-table">
        <mat-table #table [dataSource]="dataSource" matSort>
          <ng-container *ngFor="let col of columnDefs" [matColumnDef]="col.name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ col.title }}</mat-header-cell>
            <mat-cell class="table-cell" *matCellDef="let row">
              {{ getProperty(row, col.name) }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="updateButtonColumn">
            <mat-header-cell *matHeaderCellDef>Update Job</mat-header-cell>
            <mat-cell class="table-cell" *matCellDef="let row">
              <button mat-raised-button (click)="goToDetails(row)" color="primary"><mat-icon>edit</mat-icon></button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="createContractColumn">
            <mat-header-cell *matHeaderCellDef>Create Contract</mat-header-cell>
            <mat-cell class="table-cell" *matCellDef="let row">
              <button mat-raised-button (click)="createContract(row)" color="primary"><mat-icon>description</mat-icon></button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-card *ngIf="loadingTable" class="center-card">
          <mat-progress-spinner
            color="primary"
            mode="indeterminate">
          </mat-progress-spinner>
        </mat-card>

        <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
      </mat-card>
    </div>
  </div>
</div>
