<mat-table #table [dataSource]="dataSource" matSort>
  <ng-container *ngFor="let col of columnDefs" [matColumnDef]="col.name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ col.title }}</mat-header-cell>
    <mat-cell class="table-cell" *matCellDef="let row">
      {{ getProperty(row, col.name) }}
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
